---
layout: default
title: Acerca
author: Dr. Miguel Raggi Pérez
image: assets/images/about/foto.png
<!-- signature: assets/images/favicon.png -->
---

<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes 
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg-top.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="illustrations" class="bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-6"> -->
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        El objetivo de la Olimpiada Mexicana de Matemáticas (OMM) es promover el estudio de las matemáticas en forma creativa, alejándose del estudio tradicional que promueve la memorización y mecanización, y buscando desarrollar el razonamiento y la imaginación. Es un programa de la Sociedad Matemática Mexicana. Entre las actividades del comité organizador nacional está la realización del Concurso Nacional para estudiantes preuniversitarios. Este concurso es el más importante en nuestro país a nivel bachillerato, así como la Olimpiada Internacional de Matemáticas lo es a nivel mundial.
      </div>
      <div class="col-md-6 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/assets/images/about/femenil2023.jpg" alt="Kaori (bronce), Paloma (bronce), Andrea, Bialy (bronce), Ana (plata), Paulina" class="img-fluid rounded-lg border-thick border-white" width="100%">
          <strong>Equipo femenil 2023.</strong><br>
          Ana (plata), Kaori (bronce), Bialy (bronce), Andrea, Paloma (bronce), Paulina<br>
          ¡Séptimo lugar nacional por equipos para Michoacán! <br><strong>¡¡¡Muchas felicidades!!!</strong><br>
        </div>
<!--         <img src="{{ site.baseurl }}/{{ page.signature }}" alt="signature" class="img-fluid"> -->
<!--         <h4>{{ page.author }}</h4> -->
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- {% include work-process-section.html %} -->

{% include team-section.html %}
  
<section class="section">
  <div class="container">
    <!-- 
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contamos con la participación de:</h2>
      </div>
    </div>-->
    {% include sponsor-slider.html %}
  </div>
</section>

