---
layout: default
---

{% include hero-section.html %}

{% include about-section.html %}

{% include events-section.html %}

{% include services-section.html %}

<!-- {% include archivements-section.html %} -->

{% include news-section.html %}

{% include testimonial-section.html %}

<!--{ include stats-section.html }-->

<!-- {% include resources-section.html %} -->

{% include sponsor-slider.html %}

<style>
    .chat {
      height: 600px;
      width: 100%;
    }
</style>

<br>
<br>
<br>
<br>
<br>
