
<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="{{ site.baseurl }}/">
      {% if site.data.settings.logo %}
        <img src="{{ site.data.settings.logo | absolute_url }}" alt="{{ site.data.settings.title }}" width="50">
        {% else if %}
        <h3 class="text-white font-tertiary">{{site.data.settings.title}}</h3>
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        {% for link in site.data.settings.menu %}
          <li class="nav-item {{ class }}">
            <a class="nav-link" href="{{ link.link }}">{{ link.name }}</a>
          </li>
        {% endfor %}
        <li class="nav-item {{ class }}">
            <a class="nav-link" data-toggle="modal" data-target="#loginModal">Acceso/Registro</a>
          </li>
      </ul>
      
    </div>
  </nav>
</header>

<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Acceso a plataforma</h4>
        </div>
      </br>
        <div class="d-flex flex-column text-center">
          <form>
            <a class="btn btn-primary" href="https://registro.olimpiadamatematicasmichoacan.org:8443/login/index.php" role="button">Iniciar sesión</a>
          </form>
        </br>
<!--           <div class="text-center text-muted delimiter">o usa tu cuenta de Google para acceder o registrarte</div> -->
<!--         </br> -->
<!--           <div class="d-flex justify-content-center social-buttons"> -->
<!--             <a class="btn btn-primary" href="https://registro.olimpiadamatematicasmichoacan.org:8443/auth/oauth2/login.php?id=1&wantsurl=https%3A%2F%2Fregistro.olimpiadamatematicasmichoacan.org%3A8443%2F&sesskey=cbFQgfNkNZ" role="button"> -->
<!--               <img src="https://accounts.google.com/favicon.ico" alt="" width="34" height="34"/> -->
<!--             </a> -->
<!--         </div> -->
      </div>
    </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">¿Aún no estás registrado? <a href="https://registro.olimpiadamatematicasmichoacan.org:8443/login/signup.php?" class="text-info"> ¡Regístrate ahora!</a>.</div>
      </div>
  </div>
</div>
</div>
