
<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="{{ site.baseurl }}/">
      {% if site.data.settings.logo %}
        <img src="{{ site.data.settings.logo | absolute_url }}" alt="{{ site.data.settings.title }}" width="50">
        {% else if %}
        <h3 class="text-white font-tertiary">{{site.data.settings.title}}</h3>
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.baseurl }}/">Inicio</a>
        </li>
        {% for link in site.data.settings.menu %}
          <li class="nav-item {{ class }}">
            <a class="nav-link" href="{{ link.link }}">{{ link.name }}</a>
          </li>
        {% endfor %}
      </ul>


      <!--Trigger-->
    <a class="nav-link text-white" data-toggle="modal" data-target="#loginModal">ACCESO/REGISTRO</a> 

      
    </div>
  </nav>
</header>

<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Acceso a plataforma</h4>
        </div>
      </br>
        <div class="d-flex flex-column text-center">
          <form>
            <a class="btn btn-primary" href="https://registro.olimpiadamatematicasmichoacan.org:8443/login/index.php" role="button">Estudiantes</a>
          </br>
            <a class="btn btn-primary" href="https://airtable.com/shrtdVD3RvJEWLY4y" role="button">Comité</a>
          </form>
        </br>
          <div class="text-center text-muted delimiter">o usa una red social para acceder o registrarte</div>
        </br>
          <div class="d-flex justify-content-center social-buttons">
            <a class="btn btn-primary" href="https://registro.olimpiadamatematicasmichoacan.org:8443/auth/oauth2/login.php?id=1&wantsurl=https%3A%2F%2Fregistro.olimpiadamatematicasmichoacan.org%3A8443%2F&sesskey=GUdgY4tnJm" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
              </svg>
            </a>
          </di>
        </div>
      </div>
    </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">¿Aún no estás registrado? <a href="https://registro.olimpiadamatematicasmichoacan.org:8443/login/signup.php?" class="text-info"> ¡Regístrate ahora!</a>.</div>
      </div>
  </div>
</div>
</div>