<!-- hero area -->

<style>
#arrow a span {
  position: absolute;
  top: 8em;
  left: 49%;
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

</style>

<section class="hero-area bg-primary" id="element">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto mt-0">
        <h1 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title }}</h1>
      </div>
    </div>
  </div>

  <section id="arrow">
    <a href="#about"><span></span></a>
  </section>


  <!-- 
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg.png" alt="bg-shape">
  </div>
  <div class="layer" id="l2">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
  -->
  <!-- social icon  -->
  
  <ul class="list-unstyled ml-5 mt-3 py-5 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-4"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
</section>

<!-- /hero area -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>

<script>
VANTA.WAVES({
  el: '#element',
  mouseControls: true,
  touchControls: true,
  gyroControls: true,
  scale: 1.00,
  scaleMobile: 1.00,
  waveSpeed: 0.50,
  color: 0xb5e78,
  zoom: 1.5
})
</script>