// Color Variables
$primary-color: #3985a8f8;
$secondary-color: #09d0d3;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #929292;

// Font Variables
$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Helvetica Neue', sans-serif;
$tertiary-font: 'Helvetica Neue';
$icon-font: 'themify';
